{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<h1>Ajouter un nouvel utilisateur</h1>
<div class="registration-form-class">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# Pas besoin de  la checkbox des conditions d'utilisation #}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <button type="submit" class="btn">Ajouter</button>
        {{ form_end(registrationForm) }}
</div>
<h1>Liste des utilisateurs autorisés de l'application SESSION:</h1>
{% if users|length >= 1 %}
<table>
    <thead class="table">
        <tr>
            <th colspan="2">Liste des profs</th>
        </tr>
        <tr>
            <td>Nom</td>
            <td>Action</td>

        </tr>
    </thead>
    <tbody class="table">
        {% for user in users %}
            <tr class="clickable-row" 
            {# onclick="window.location='{{ path('show_user', {'id': course.id}) }}'" #}
            >
                <td >{{ user.pseudo }}</td>
                {# <td><a class="button-delete" href="{{ path('remove_user', {'id': user.id}) }}">suppr</a></td> #}
            </tr>
            {% endfor %}
    </tbody>
</table>
{% else %}
<p>Aucun utilisateur autorisé pour le moment.</p>
{% endif %}

{% endblock %}
