{% extends 'base.html.twig' %}

{% block title %}Hello sessionController!{% endblock %}

{% block body %}
<h2>Ajouter une session</h2>
    {{ form(formAddSession)}}
<h1>Toutes les sessions</h1>
{% if sessions|length >= 1 %}
    
<table>
    <thead class="table">
        <tr>
            <th colspan="7">Liste des sessions</th>
        </tr>
        <tr>
            <td>Nom</td>
            <td>Prof</td>
            <td>Début</td>
            <td>Fin</td>
            <td>Durée</td>
            <td>Place</td>
            <td>Dispo</td>
            <td>Plannings</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody class="table">
        {% for session in sessions %}
        <a href="{{ path('show_session', {'id': session.id}) }}">
            <tr>
                <td>{{ session.name }}</td>
                <td>{{ session.teacher }}</td>
                <td>{{ session.dateStart|date("d/m/Y") }}</td>
                <td>{{ session.dateStart|date_modify('+' ~ session.totalDuration ~ 'day')|date("d/m/Y") }}</td>
                <td>{{ session.totalDuration }} jours</td>
                <td>{{ session.nbPlace }}</td>
                <td>{{ session.availableNbPlace }}</td>
                <td>{{ session.nbPlannings }}</td>
                <td><a class="button-delete" href="{{ path('remove_session', {'id': session.id}) }}">suppr</a></td>
            </tr>
        </a>
        {% endfor %}
    </tbody>
</table>




            {# <ul>
                <li>Nom: {{session.name}}</li>
                <li>Prof référent : {{session.teacher}}</li>
                <li>Débute le {{ session.dateStart|date("d/m/Y") }} et finit le {{ session.dateStart|date_modify('+' ~ session.totalDuration ~ 'day')|date("d/m/Y") }}</li>        
                <li>Durée: {{session.totalDuration}} jours</li>
                <li>Nombre de places maximum: {{session.nbPlace}} places </li>
                <li>Nombre de places disponibles : {{session.availableNbPlace}} places </li>        
                <li>Nombre de plannings : {{session.nbPlannings}} plannings </li> 
            </ul> #}
    {% else %}
    
    <p>Aucune sessions enregistrées.</p>

    {% endif %}

{% endblock %}
