{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<h1>Détail de la session: "{{ session.name }}"</h1>
    <ul class="session-detail-container">
        <li class="session-detail-items">Durée : {{session.totalDuration}} jours</li>
        <li class="session-detail-items">Prof référent : {{session.teacher}}</li>
        <li class="session-detail-items">Débute le {{ session.dateStart|date("d/m/Y") }} et finit le {{ session.dateStart|date_modify('+' ~ session.totalDuration ~ 'day')|date("d/m/Y") }}</li>        
        <li class="session-detail-items">Nombre de places maximum: {{session.nbPlace}} places </li>
        <li class="session-detail-items">Nombre de places disponibles : {{session.availableNbPlace}} places </li>        
        <li class="session-detail-items">Nombre de plannings : {{session.nbPlannings}} plannings </li>        
    </ul>
    <br>

    <h3>Plannings de la session</h3>
    {% if session.plannings|length >= 1 %}
        <ul>
                
            {% for planning in session.plannings %}
            <li>
                {{ planning }}
                <a href="{{ path('remove_planning', {'idSe': session.id, 'idPl': planning.id}) }}"> Supprimer</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Il n'y a pas de plannings ajoutés à cette session.</p>
        {% endif %}
    <br>

    <h4>Modules disponibles</h4>
    {% if available_modules|length >= 1 %}
        <ul>
            {% for module in available_modules %}
                <li>
                    {{module.name}}
                    <form action="{{ path('add_planning', {'idSe': session.id, 'idMo': module.id}) }}" method="post">

                        <label for="nbDay">Nombre de jours (1-365):</label>
                        <input type="number" name="nbDay" min="1" max="365" value="1">

                        <button type="submit" name="submit">Ajouter</button>
                    </form>
                    {# <a href="{{ path('add_planning', {'idSe': session.id, 'idMo': module.id}) }}"> Ajouter</a> #}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Pas de modules disponibles.</p>
        {% endif %}
        <a href="{{ path('app_module') }}">Créer un nouveau module</a>
    
    <h3>Inscrits a la session:</h3>
    {% if session.students|length >= 1 %}
        
    <ul>
        {% for current_student in session.students %}
        <li>
            {{ current_student}}
            <a href="{{ path('remove_student', {'idSe': session.id, 'idSt': current_student.id}) }}">
                Supprimer
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Il n'y a pas d'étudiants inscrits à la session.</p>
    {% endif %}
    <br>
    <h4>Étudiants disponibles</h4>
    {% if available_students|length >= 1 %}
        <ul>
            {% for available_student in available_students %}
                <li>
                    {{available_student}}
                    <a href="{{ path('add_student', {'idSe': session.id, 'idSt': available_student.id}) }}">
                    Ajouter
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Il n'y aucun étudiant disponible. </p>
        {% endif %}
        <a href="{{ path('app_student') }}">
        Créer un nouvel étudiant
        </a>

{% endblock %}
