{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}

<h1>Détail de la session: "{{ session.name }}"</h1>
    <ul>
        <li>Durée : {{session.totalDuration}} jours</li>
        <li>Prof référent : {{session.teacher}}</li>
        <li>Débute le {{session.dateStart| date("m/d/Y")}} et fini le {{session.dateEnd|date("m/d/Y")}}</li>
        <li>Nombre de places maximum: {{session.nbPlace}} places </li>
        <li>Nombre de places disponibles : {{session.availableNbPlace}} places </li>        
    </ul>
    <br>
    <h3>Plannings de la session</h3>
        <ul>
        {% for planning in session.plannings %}
            <li>{{ planning }}</li>
        {% endfor %}
        </ul>
    <br>
    <h4>Modules disponibles</h4>
        <ul>
            {% for module in available_modules %}
                <li>{{module.name}}</li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_module') }}">Créer un nouveau module</a>
    
    <h3>Inscrits a la session:</h3>
        <ul>
            {% for current_student in session.students %}
                <li>
                    {{ current_student}}
                </li>
            {% endfor %}
        </ul>
    <br>
    <h4>Étudiants disponibles</h4>
        <ul>
            {% for available_student in available_students %}
                <li>
                    {{available_student}}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_student') }}">Créer un nouvel étudiant</a>

{% endblock %}
