{% extends 'base.html.twig' %}

{% block title %}Détail d'une session{% endblock %}

{% block body %}
<div class="upper">
<h1>Détail de la session: "{{ session.name }}"</h1>
    <ul class="session-detail-container">
        {# <li class="session-detail-items">Durée : {{session.totalDuration}} jours</li> #}
        <li class="session-detail-items">Prof référent : {{session.teacher}}</li>
        <li class="session-detail-items">Débute le {{ session.dateStart|date("d/m/Y") }} et finit le {{ session.dateStart|date_modify('+' ~ session.totalDuration ~ 'day')|date("d/m/Y") }}</li>        
        <li class="session-detail-items">Nombre de places maximum: {{session.nbPlace}} places </li>
        <li class="session-detail-items">Nombre de places disponibles : {{session.availableNbPlace}} places </li>        
        <li class="session-detail-items">Nombre de modules plannifiés : {{session.nbPlannings}} </li>        
    </ul>
</div>
<div class="detail-session-main">

<div class="detail-session-left">
   {% if session.plannings|length >= 1 %}
    <table>
        <thead class="table">
            <tr>
                <th colspan="2"> <h3>Modules plannifiés</h3> </th>
            </tr>
            <tr>
                <td>Nom</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody class="table">
                {% for planning in session.plannings %}
                    <tr class="clickable-row" onclick="window.location='{{ path('show_session', {'id': session.id}) }}'">
                        <td >{{ planning }}</td>
                        <td><a class="button-delete" href="{{ path('remove_planning', {'idSe': session.id, 'idPl': planning.id}) }}"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Il n'y a pas de plannings ajoutés à cette session.</p>
        {% endif %}
    <br>

    <table>
        <thead class="table">
            <tr>
                <th><h3>Modules disponibles</h3></th>
            </tr>
            {% if available_modules|length >= 1 %}
            <tr>
                <td>Nom</td>
            </tr>
            {% endif %}
        </thead>
        <tbody class="table">
            {% if available_modules|length >= 1 %}
                {% for module in available_modules %}                    
                    <tr class="clickable-row"
                     {# onclick="window.location='{{ path('show_module', {'id': module.id}) }}'" #}
                     >
                     <td >
                         <div class="inline-infos">
                         {{ module.name }}

                         <form action="{{ path('add_planning', {'idSe': session.id, 'idMo': module.id}) }}" method="post">
                                <div class="inline-infos">

                                <label for="nbDay">Durée (jours):</label>
                                <input type="number" name="nbDay" min="1" max="365" value="1">
        
                                <button class="button-add" type="submit" name="submit"><i class="fa-solid fa-plus"></i></button>
                            </div>
                            </form>
                        </div>

                        </td>
                    </tr>
                {% endfor %}
                    <tr><td><a class="button-add" href="{{ path('app_module') }}">Créer un nouveau module</a></td></tr>        
            {% else %}
                <tr><td>Pas de modules disponibles.</td></tr>
                <tr><td><a class="button-add" href="{{ path('app_module') }}">Créer un nouveau module</a></td></tr>        
            {% endif %}
        </tbody>
    </table>
</div> 
<div class="detail-session-right"> 
    <table>
        <thead class="table">
            <tr>
                <th colspan="2"><h3>Inscrits a la session: {{session.nbPlace - session.availableNbPlace}}/{{session.nbPlace}}</h3></th>
            </tr>
            {% if session.students|length >= 1 %}

            <tr>
                <td>Nom</td>
                <td>Action</td>
            </tr>
            {% endif %}
        </thead>

        <tbody class="table">
            {% if session.students|length >= 1 %}
                {% for student in session.students %}
                    <tr class="clickable-row" onclick="window.location='{{ path('show_session', {'id': session.id}) }}'">
                        <td >{{ student }}</td>
                        <td><a class="button-delete" href="{{ path('remove_session_student', {'idSe': session.id, 'idSt': student.id}) }}"><i class="fa-solid fa-trash-can"></i></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                    <tr>
                        <td> Il n'y a pas d'étudiant inscrits à cette session.<br>Ajoutez un étudiant disponible ou créez en un.</td>
                    </tr>
            {% endif %}
        </tbody>
    </table>
    <br>

    {# {% if session.students|length >= 1 %}
        
    <ul>
        {% for current_student in session.students %}
        <li>
            {{ current_student}}
            <a href="{{ path('remove_session_student', {'idSe': session.id, 'idSt': current_student.id}) }}">
                Supprimer
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Il n'y a pas d'étudiants inscrits à la session.</p>
    {% endif %}
    <br> #}

    
    <table>
        <thead class="table">
            <tr>
                <th colspan="2"><h3>Étudiants disponibles</h3></th>
            </tr>
            {% if available_students|length >= 1 %}
            <tr>
                <td>Nom</td>
                <td>Action</td>
            </tr>
            {% endif %}
        </thead>
        <tbody class="table">
            {% if available_students|length >= 1 %}
                {% for student in available_students %}                    
                    <tr class="clickable-row"
                     {# onclick="window.location='{{ path('show_student', {'id': student.id}) }}'" #}
                     >
                        <td >{{ student }}</td>
                        <td>
                        <a class="button-add" href="{{ path('add_student', {'idSe': session.id, 'idSt': student.id}) }}"><i class="fa-solid fa-plus"></i></a></td></tr>
                    </tr>
                    {% endfor %}
                    <tr><td colspan="2"><a class="button-add" href="{{ path('app_student') }}">Créer un nouvel étudiant</a></td></tr>

            {% else %}
                <tr><td>Pas d'étudiant disponibles.</td>
                <td><a class="button-add" href="{{ path('app_student') }}">Créer un nouvel étudiant</a></td></tr>             
        </tbody>
    </table>
            {% endif %}
</div> 
</div>
{% endblock %}
